@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

.container {
  /* @apply max-w-full xl:w-[85%] mx-auto sm:px-[2rem] md:px-[3rem] xl:px-[0rem]; */
}

.swiper-pagination {
  position: initial !important;
  padding: 0px 2.5rem;
}

.swiper-pagination-bullet {
  width: 3.32rem !important;
  height: 0.5rem !important;
  border-radius: 0 !important;
  background-color: #bab2ff !important;
  opacity: 1 !important;
  margin-top: 1.688rem !important;
  margin-bottom: 1.688rem !important;
}

.swiper-pagination-bullet-active {
  background-color: #a02710 !important;
}
